.search_info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.25rem 0 3.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-primary);
  margin: 0;
}

.term {
  text-decoration: underline;
  color: var(--accent);
}
